.buttons-wrap {
  width: 100%;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.delete {
  background: #dc4d4d !important;
  border: none;
}
.delete:hover {
  background: #e66666 !important;
}
